root {
  --palatinate-purple: #5d2050ff;
  --lavender-blush: #ffeef8ff;
  --opera-mauve: #c785afff;
  --medium-violet-red: #bd227cff;
  --china-pink: #d47291ff;
  --lavender-blush-2: #f7e6f0ff;
  --heliotrope-gray: #ab9fa6ff;
}

body {
  background-color: blue;
}
